
# Copyright 2018 Dematic, Corp.
# Licensed under the MIT Open Source License: https://opensource.org/licenses/MIT

---
#hostPort: 127.0.0.1:7199

# although hostPort is more concise, use jmxURL for explicitness

jmxUrl: service:jmx:rmi:///jndi/rmi://127.0.0.1:7199/jmxrmi
ssl: false
lowercaseOutputName: true
lowercaseOutputLabelNames: true

rules:
    - pattern: 'java.lang<type=Memory><(\w+)MemoryUsage>(\w+):'
      name: jvm_memory_bytes_$2
      labels:
        area: "$1"
      help: JVM memory $2 by area heap and nonheap
      type: GAUGE

    - pattern: 'org.apache.cassandra.metrics<type=(Connection|Streaming), scope=(\S*), name=(\S*)><>(Count|Value)'
      name: cassandra_$1_$3
      labels:
        address: "$2"
    - pattern: org.apache.cassandra.metrics<type=(\S*)(?:, ((?!scope)\S*)=(\S*))?(?:, scope=(\S*))?, name=(\S*)><>(Count|Value)
      name: cassandra_$1_$5
      labels:
        "$1": "$4"
        "$2": "$3"




